@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');



body {
   background: #e9e9e9;
   background-image: url('background.PNG');
   background-size: cover;
   padding: 100px;
   font-family: 'Open Sans', sans-serif;
   color: #000;
   display: grid;
   align-items: center;
   grid-template-columns: 300px auto;
   background-repeat: no-repeat;
}


h1 {
   grid-row-start: 1;
   grid-column-start: 1;
   grid-column-end: 3;
   color: rgb(204, 140, 47);
   font-size: 48pt;
   font-family: 'Playfair Display', sans-serif;   
   
   
   background-image: linear-gradient(120deg, rgb(30,77,53) 0%, rgb(245, 233, 149) 50%, rgb(28, 33, 104) 100%);
   background-repeat: no-repeat;
   background-size: 100% 0.2em;
   background-position: 0 100%;
   transition: background-size 0.25s ease-in;       

}


h4 {
   color: rgb(125, 120, 112);
}


ul {
   list-style-type: circle;
   grid-row-start: 2;
   grid-column-start: 2;
   width: 200px;
   color: rgb(186, 178, 166);
   font-size: 14pt;
   font-family: 'Playfair Display', sans-serif;
}


img {
   grid-row-start: 2;
   grid-column-start: 1;
   max-width: 200px;
   max-height: 200px;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: 50px;
}

